
  @mixin rings($duration, $delay) {
      opacity: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      
      
      right: 0;
      bottom: 0;
      content: '';
      height: 100%;
      width: 100%;
      border: 8px solid #E9C1FF;
      border-radius: 100%;
      animation-name: ripple;
      animation-duration: $duration;
      animation-delay: $delay;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(5,0,.34,1);
      z-index: -3;
  }
  
  #ripple {
    position: relative;
    
    margin-left: auto;
	margin-right: auto;
    height: 375px;
    width: 375px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);

    
    &::after {
      @include rings(4s, 0s);
    }
    
    &::before {
      @include rings(4s, 1s);
    }
  }
  
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.75,0.75,1);
    }
    
    to {
      opacity: 0;
      transform: scale3d(1.5,1.5,1);
    }
  }
  
  