body {
	font-family: sans-serif;
}

.nav-bg {
	background-color: #00417F;
}

.circle {
	width: 350px;
	height: 350px;
	background: #005AAF;
	border-radius: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 1em solid #0073E0;
}

.loginBox p {
	height: 50px;
	width: 100px;
	background: #0069CC;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #0082FF;
}

.newaccBox p {
	height: 30px;
	width: 200px;
	background: #0069CC;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #0082FF;
}

.grid {
	width: auto;
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25em 5em 5em;
	color: white;
}

.welcome {
	grid-area: 1 / 1 / span 1 / span 1;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.welcome p {
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
}

.login {
	grid-area: 2 / 1 / span 1 / span 1;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.login p{
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}

.newacc{
	grid-area: 3 / 1 / span 1 / span 1;
	display: flex;
	align-items: top; 
	justify-content: center;
}

.newacc p{
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
}

.popup-box {
	text-align: center;
	margin: auto;
	width: 100%;
	margin-top: 50px;
	background-color: whitesmoke;
	border: bisque solid 5px;
}

.imagebox {
	background: white;
	border-radius: 50%;
	shape-outside: circle();
}

.listalignment {
	min-width: 300px;
	max-width: 650px;
	margin: 2em auto;
	font-size: 20pt;
	display: flex;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
}

a:link  {
	color: #EEEEEE;
	
}

a:visited  {
	color: #EEEEEE;
}

a:hover  {
	color: white;
	text-decoration: none;
}

#wrapper {
	text-align: center;
}

#confirm-prompt {
	margin-top: 1em;
}

#restaurant-img-cropper {
	display: inline-block;
  overflow: hidden;
	width: 300px;
  height: 300px;
  border-radius: 50%;
}

#restaurant-img-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
	width: auto;
}

#restaurant-container h4 {
	top: 3em;
	z-index: 1;
	position: relative;
	background: rgba(255, 255, 255, 0.75);
	color: black;
}

#yes-no {
	min-width: 300px;
	max-width: 650px;
	margin: 2em auto;
	font-size: 20pt;
	display: flex;
}

#yes-no form {
	display: inline-block;
	margin: auto;
}

#circle {
	width: 350px;
	height: 350px;
	background: #0082FF;
	border-radius: 350px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border: 1em solid #00417F;
}

#bar {
	width: 350px;
	height: 50px;
	background: #0069CC;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border: 3px solid #0082FF;
}

#circle p {
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
}

#bar p {
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}

#camera-wrapper {
	margin: auto;
	width: 50%;
	min-width: 360px;
	position: relative;
}

#preview{
	margin: auto;
	width: 100%;
}

#back-btn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#swap-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}