@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}

.navbar span {
	font-size: 9pt;
	display: inline-block;
}

.navbar img {
	height: auto;
	width: 25px;
	margin-right: 5px;
}

.circle {
	width: 350px;
	height: 350px;
	border-radius: 350px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 12px;
}

.loginBox p {
	height: 50px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.newaccBox p {
	height: 30px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	width: auto;
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25em 5em 5em;
}

.welcome {
	grid-area: 1 / 1 / span 1 / span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.welcome p {
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
}

.login {
	grid-area: 2 / 1 / span 1 / span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login p {
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}

.newacc {
	grid-area: 3 / 1 / span 1 / span 1;
	display: flex;
	align-items: top;
	justify-content: center;
}

.newacc p {
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
}

.popup-box {
	text-align: center;
	margin: auto;
	width: 100%;
	margin-top: 50px;
}

.imagebox {
	border-radius: 50%;
	shape-outside: circle();
}

.listalignment {
	min-width: 300px;
	max-width: 650px;
	margin: 2em auto;
	font-size: 20pt;
	display: flex;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
}

#circle a:hover,
.loginBox a:hover,
.newaccBox a:hover {
	text-decoration: none;
}

#wrapper {
	text-align: center;
}

#confirm-prompt {
	margin-top: 1em;
}

#profile-img-cropper {
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

#restaurant-img-cropper {
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

#restaurant-img-cropper img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

#restaurant-container h4 {
	top: 3em;
	z-index: 1;
	position: relative;
}

#yes-no {
	min-width: 300px;
	max-width: 650px;
	margin: 2em auto;
	font-size: 20pt;
	display: flex;
}

#yes-no form {
	display: inline-block;
	margin: auto;
}

#circle {
	width: 350px;
	height: 350px;
	border-radius: 350px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 12px;
	z-index: 1;
}

#circlebackground {
	width: 375px;
	height: 375px;
	border-radius: 350px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#bar {
	width: 350px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

#circle p {
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
}

#bar p {
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}

#camera-wrapper {
	margin: auto;
	width: 50%;
	min-width: 350px;
	position: relative;
}

#back-btn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#swap-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: none;
}

#reader {
	min-width: 350px;
	width: 100%;
}

.form-container {
	min-width: 350px;
	width: 50%;
	margin: 1em auto;
	border-radius: 1em;
	padding: 1em;
}

.form-container h3 {
	margin: 1em auto;
}

@media only screen and (max-width: 576px) {
	.form-container label {
		text-align: left;
	}
}

@media only screen and (min-width: 576px) {
	.form-container label {
		text-align: right;
	}
}
